@import 'utils/variables';
@import 'components/type';

body {
    margin: 27px
}

#searchBar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s;
}

#searchBar:focus {
    border-color: #007bff;
}

/* Résultat film */
#result {
    margin-top: 30px;
    width: 96%;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

#result img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

#result p {
    max-width: 680px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}